.image-container {
    width: 100%;
    height: 200px;
    position: relative;
    background-attachment: fixed;
}

.text-over-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.brown {
    background-color: #bc6a3c;
}

.darken-brown {
    background-color: #5b341e;
}

.kartice {
    width: 100%;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.strelicec {
    position: relative;
}

.strelicecp,
.strelicecn {
    position: absolute;
    top: 50%;
}

.strelicecp {
    left: 50px;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    animation: fade-in-animation 10s forwards;
}

@keyframes fade-in-animation {
    to {
        opacity: 1;
        visibility: visible;
    }
}
