body {
    background-color: rgb(66, 116, 208);
    font: "Latio";
}

  body{
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
  }


  .title{
    font-weight: bold;
  }

  .submit{
    color: white;
    background-color: #E47272;
    border-radius: 20px;
  }

  .link{
    color: black;
    font-weight: bold;
  }


