.image-container{
    width: 100%;
    height: 200px;
    position: relative;
    background-attachment:fix ;
}

.text-over-image{
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.brown{
    background-color: #bc6a3c;
}

.fade-in {
    opacity: 0; /* Initially hide the div */
    visibility: hidden; /* Hide the div */
    animation: fade-in-animation 10s forwards; /* Apply the fade-in animation */
}

@keyframes fade-in-animation {
    to {
        opacity: 1; /* End with opacity 1 */
        visibility: visible;
    }
}